img {
  height: 50px;
  width: 50px;
}

.albert-navbar {
  background-color: #12afaf;
}

li {
  font-size: 30px;
}

.nav-link {
  color: black;
}

li a:hover {
  color: #fff;
}

li.active-class > a {
  color: #fff !important;
}

ul {
  background-color: #12afaf;
}

.dropdown-menu {
  margin: auto;
}

.dropdown-menu .sub-menu {
  visibility: hidden;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display:inline-block;
  margin-left: 100px;
}



