img {
  height: 50px;
  width: 50px;
}

.albert-navbar {
  background-color: #12afaf;
  font-family: Unlock,Arial, Helvetica, sans-serif;
}

li {
  font-size: 30px;
}

.nav-link {
  color: black;
}

li a:hover {
  color: #fff;
}

li.active-class > a {
  color: #fff !important;
}
