<nav class="albertNavbar">
  <div>
    <div>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/ico-onkosten@2000x.png"> Onkosten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/ico-overzichten@2000x.png"> Contacten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/ico-projecten-of-facturen@2000x.png"> Belasting</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
