img {
  height: 30px;
  width: 30px;
}

.albert-navbar {
  background-color: #12afaf;
}

li {
  font-size: 20px;
}

.nav-link {
  color: black;
}

ul li a:hover {
  color: #fff;
}

ul.logout-ul li.logout-li a:hover{
  color: #D60D00;
}

li.active-class > a {
  color: #fff !important;
}


