img {
  height: 30px;
  width: 30px;
}

.albert-navbar {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: #12afaf;
  height: 8%;
}
@media (max-width: 767px) {
  .albert-navbar {
    display: block;
    justify-content: center;
  }
}
ul {
  margin: auto;
}

li {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}

li a{
  font-size: 20px;
  color: #000;
}

ul li a:hover {
  color: #fff;
  text-decoration: none;
}

ul.logout-ul li.logout-li a:hover{
  color: #D60D00;
}

li.active-class > a {
  color: #fff;
}

.logout-ul {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

