form {
  background-color: #EFEFD5;
}

.row {
  padding: 5px;
  margin: 10px;
}

.form-group {

}

:host {
}

input.ng-invalid.ng-touched {
  border-left: 2px solid red;
}

button.rood, button.groen {
  width: 1.5em;
  height: 1.5em;
  margin: 2px;
  padding: 0px;
}

.groen {
  background-color: lawngreen;
}

.rood {
  background-color: red;
}
