.switch {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 30px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 2px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 15px;
}

input:checked + .toggle {
  background-color: limegreen;
}

input:checked + .toggle:before {
  transform: translateX(28px);
}

p {
  left: 0;
  text-align: center;
  font-size: small;
}

div {
  margin: auto;
  background: #016B6B;
  border: #005959 solid 3px;
}
