<div class="row text-left">
  <div class="col">
    <table class="table">
      <tbody>
        <!--<tr>-->
          <!--<th scope="row">Contact id:</th>-->
          <!--<td>{{ contact.id }}</td>-->
        <!--</tr>-->
        <tr>
          <th scope="row">Voornaam:</th>
          <td>{{ contact.contact_voornaam }}</td>
        </tr>
        <tr>
          <th scope="row">Achternaam:</th>
          <td>{{ contact.contact_achternaam }}</td>
        </tr>
        <tr>
          <th scope="row">Bedrijf:</th>
          <td>{{ contact.contact_bedrijf }}</td>
        </tr>
        <!--<tr *ngFor="let nummer of contact.telefoon; let i = index">-->
          <!--<th scope="row">{{ i === 0 ? 'Telefoon:': return }}</th>-->
          <!--<td>{{ nummer }}</td>-->
        <!--</tr>-->
        <tr>
          <th scope="row">Relatie:</th>
          <td>{{ contact.contact_relatie }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Straatnaam:</th>
          <td>{{ contact.contact_straatnaam }}</td>
        </tr>
        <tr>
          <th scope="row">Postcode:</th>
          <td>{{ contact.contact_postcode }}</td>
        </tr>
        <tr>
          <th scope="row">Woonplaats:</th>
          <td>{{ contact.contact_plaats }}</td>
        </tr>
        <tr>
          <th scope="row">Land:</th>
          <td>{{ contact.contact_land }}</td>
        <!--</tr>-->
        <!--<tr *ngFor="let mail of contact.email; let i = index">-->
          <!--<th scope="row">{{ i === 0 ? 'Email:': return }}</th>-->
          <!--<td>{{ mail }}</td>-->
        <!--</tr>-->
        <tr>
          <th scope="row">Website:</th>
          <td>{{ contact.contact_website }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
