<div class="row">
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Contacten id:</th>
          <td>{{ contact.id }}</td>
        </tr>
        <tr>
          <th scope="row">Voornaam:</th>
          <td>{{ contact.voornaam }}</td>
        </tr>
        <tr>
          <th scope="row">Achternaam:</th>
          <td>{{ contact.achternaam }}</td>
        </tr>
        <tr>
          <th scope="row">Bedrijf:</th>
          <td>{{ contact.bedrijf }}</td>
        </tr>
        <tr *ngFor="let nummer of contact.telefoon; let i = index">
          <th scope="row">{{ i === 0 ? 'Telefoon:': return }}</th>
          <td>{{ nummer }}</td>
        </tr>
        <tr>
          <th scope="row">Relatie:</th>
          <td>{{ contact.relatie }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Straatnaam:</th>
          <td>{{ contact.straatnaam }}</td>
        </tr>
        <tr>
          <th scope="row">Postcode:</th>
          <td>{{ contact.postcode }}</td>
        </tr>
        <tr>
          <th scope="row">Woonplaats:</th>
          <td>{{ contact.woonplaats }}</td>
        </tr>
        <tr>
          <th scope="row">Land:</th>
          <td>{{ contact.land }}</td>
        </tr>
        <tr *ngFor="let mail of contact.email; let i = index">
          <th scope="row">{{ i === 0 ? 'Email:': return }}</th>
          <td>{{ mail }}</td>
        </tr>
        <tr>
          <th scope="row">Website:</th>
          <td>{{ contact.website }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
