<div class="row text-left">
  <div class="col">
    <table class="table">
      <tbody>
        <!--<tr>-->
          <!--<th scope="row">Contact id:</th>-->
          <!--<td>{{ contact.id }}</td>-->
        <!--</tr>-->
        <tr>
          <th scope="row">Voornaam:</th>
          <td>{{ contact.contactVoornaam }}</td>
        </tr>
        <tr>
          <th scope="row">Achternaam:</th>
          <td>{{ contact.contactAchternaam }}</td>
        </tr>
        <tr>
          <th scope="row">Bedrijf:</th>
          <td>{{ contact.contactBedrijf }}</td>
        </tr>
        <tr *ngFor="let nummer of telNummers; let i = index">
          <th scope="row">{{ i === 0 ? 'Telefoon:': return }}</th>
          <td>{{ nummer }}</td>
        </tr>
        <tr>
          <th scope="row">Relatie:</th>
          <td>{{ contact.contactRelatie }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Straatnaam:</th>
          <td>{{ contact.contactStraatnaam }}</td>
        </tr>
        <tr>
          <th scope="row">Postcode:</th>
          <td>{{ contact.contactPostcode }}</td>
        </tr>
        <tr>
          <th scope="row">Woonplaats:</th>
          <td>{{ contact.contactPlaats }}</td>
        </tr>
        <tr>
          <th scope="row">Land:</th>
          <td>{{ contact.contactLand }}</td>
        </tr>
        <tr *ngFor="let mail of emails; let i = index">
          <th scope="row">{{ i === 0 ? 'Email:': return }}</th>
          <td>{{ mail }}</td>
        </tr>
        <tr>
          <th scope="row">Website:</th>
          <td>{{ contact.contactWebsite }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
