<div class="row">
  <div class="col-md-9">
      <input type="text"
             id="bedrijf"
             class="form-control"
             placeholder="Bedrijf"
             autocomplete="off"
             #bedrijfInput>
  </div>
  <div class="col-">
    <button class="btn"
            id="zoekButton"
            type="submit"
            (click)="onKeyDown()">Zoek bedrijf</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <app-contacten-list [personen]="gezochtePersonen"></app-contacten-list>
  </div>
</div>

