<!--<ng-template #leeg>  <app-onkosten-toevoegen></app-onkosten-toevoegen>-->
<!--</ng-template>-->

<!--<div *ngIf="id >= 0; else leeg">-->

<hr>

  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Bedrijf</span>
        </div>
        <textarea class="form-control">{{ onkosten.onkostenBedrijf }}</textarea>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Datum</span>
        </div>
        <textarea class="form-control" placeholder="DD-MM-JJJJ">{{ onkosten.onkostenDatum }}</textarea>
      </div>
    </div>

    <div class="col-6" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Kostenpost</span>
        </div>
        <textarea class="form-control" placeholder="Materiaal">{{ onkosten.onkostenKostenpost }}</textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Omschrijving</span>
        </div>
        <textarea class="form-control" aria-label="companyLabel">{{ onkosten.onkostenOmschrijving }}</textarea>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Bruto €</span>
        </div>
        <textarea class="form-control" placeholder="€--,--">{{ onkosten.onkostenBrutoKosten }}</textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">BTW %</span>
        </div>
        <textarea class="form-control" placeholder="0.00%">{{ onkosten.onkostenBtwKosten }}</textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">BTW €</span>
        </div>
        <textarea class="form-control" placeholder="€--,--">{{ onkosten.onkostenBtwPercentage }}</textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Netto €</span>
        </div>
        <textarea class="form-control"  placeholder="€--,--">{{ onkosten.onkostenNettoKosten }}</textarea>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary" routerLink="/toevoegen">Nieuwe uitgave</button>
    </div>
    <div class="col-4">
      <button class="btn btn-secondary">Voeg uitgave toe</button>
    </div>
    <div class="col-4">
      <button class="btn btn-danger">Verwijder uitgave</button>
    </div>
  </div>

<!--</div>-->
