.center-items {
  margin: auto;
}

.item-margin {
  margin: 4px;
}

span {
  width:110px;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.select-class {
  height: auto;
}
