<div class="row">
  <div class="col-4">
    <input
      type="text"
      id="search"
      (input)="zoekUitgaven($event)"
      placeholder="Zoek uitgaven..."
      #uitgaveInput>
  </div>
  <div class="col-1">
    <app-toggle-switch [(switchStatus)]="kostenpostSwitch" (input)="filter()"></app-toggle-switch>
        <select (input)="zetKostenpost($event)">
          <option selected disabled>Kostenpost</option>
          <option *ngFor="let kostenpost of kostenposten">{{kostenpost.naam}}</option>
        </select>
  </div>
  <div class="col-1">
    <app-toggle-switch [(switchStatus)]="jaarSwitch" (input)="filter()"></app-toggle-switch>
    <input type="number" title="jaar" (input)="veranderJaar($event)">
    <select (input)="veranderKwartaal($event)">
      <option>Kwartaal 1</option>
      <option>Kwartaal 2</option>
      <option>Kwartaal 3</option>
      <option>Kwartaal 4</option>
    </select>
  </div>
</div>
<table id="uitgaventabel">
  <tr>
    <th>Uitgave ID</th>
    <th>Uitgave Beschrijving</th>
    <th>Kostenpost</th>
    <th>Uitgave Datum</th>
    <th>Uitgave Bruto kosten</th>
    <th>Uitgave Netto kosten</th>
  </tr>
  <tr *ngFor="let uitgave of shownUitgaven">
    <td>{{uitgave.id}}</td>
    <td>{{uitgave.beschrijving}}</td>
    <td>{{uitgave.kostenpost}}</td>
    <td>{{uitgave.datum}}</td>
    <td>{{uitgave.bruto}}</td>
    <td>{{uitgave.netto}}</td>
  </tr>
</table>
