@font-face {
  font-family: Unlock;
  src: url("../../assets/fonts/Unlock-Regular.ttf") format('truetype');
}

.heading {
  width: 400px;
  height: 100px;
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto
}

.albert {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;

}

h1 {
  color: white;
  font-size: 45px;
  font-family: Unlock, sans-serif;
  text-align: center;
}
