span {
  width:110px;
  height: 40px;
}

input, select {
  height: 40px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-class {
  height: auto !important;
}

div {
  margin: 0;
}

.item-margin {
  margin-top: 3px;
  margin-bottom: 3px;
}

button {
  width: 100%;
}

input.ng-invalid.ng-touched {
  border-right: 2px solid red;
}

button {
  background-color: orange;
  border-color: #ad6900;
  color: white;
  text-align: center;
  font-size: 12px;
}

button:disabled {
  background-color: grey;
  border-color: transparent;
}

.groen, .rood {
  margin: 1px;
  padding: 0;
  width: 30px;
}
