<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Voornaam</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Voornaam"
                  ngModel
                  name="voornaam"
                  required>
      </div>
    </div>

    <div class="col-6" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Achternaam</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Achternaam"
                  ngModel
                  name="achternaam"
                  required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Telefoon</span>
        </div>
        <input    type="number"
                  class="form-control"
                  placeholder="06-"
                  ngModel
                  name="telefoon1"
                  required>
        <button class="groen btn" tabindex="-1" type="button" (click)="telErbij()">+</button>
        <button class="rood btn" tabindex="-1" type="button" (click)="telEraf()">-</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="aantalTel > 1">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Telefoon</span>
        </div>
        <input    type="number"
                  class="form-control"
                  placeholder="06-"
                  ngModel
                  name="telefoon2"
                  required>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="aantalTel > 2">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Telefoon</span>
        </div>
        <input    type="number"
                  class="form-control"
                  placeholder="06-"
                  ngModel
                  name="telefoon3"
                  required>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Email adres</span>
        </div>
        <input    type="email"
                  class="form-control"
                  placeholder="voorbeeld@voorbeeld.nl"
                  ngModel
                  name="email1"
                  required>
        <button class="groen btn" tabindex="-1" type="button" (click)="mailErbij()">+</button>
        <button class="rood btn" tabindex="-1" type="button" (click)="mailEraf()">-</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="aantalEmail > 1">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Email adres</span>
        </div>
        <input    type="email"
                  class="form-control"
                  placeholder="voorbeeld@voorbeeld.nl"
                  ngModel
                  name="email2"
                  required>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="aantalEmail > 2">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Email adres</span>
        </div>
        <input    type="email"
                  class="form-control"
                  placeholder="voorbeeld@voorbeeld.nl"
                  ngModel
                  name="email3"
                  required>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Bedrijf</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="fjdio"
                  ngModel
                  name="bedrijf"
                  required>
      </div>
    </div>

    <div class="col-6" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Website</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Google.nl"
                  ngModel
                  name="website">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Woonplaats</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="njh"
                  ngModel
                  name="woonplaats"
                  required>
      </div>
    </div>

    <div class="col-6" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Relatie</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Materiaal"
                  ngModel
                  name="relatie"
                  required>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-7">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Straatnaam</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="straat"
                  ngModel
                  name="straatnaam"
                  required>
      </div>
    </div>

    <div class="col-5" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Huisnummer</span>
        </div>
        <input    type="text"
                  class="form-control"
                  ngModel
                  name="huisnummer"
                  required>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-5">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Postcode</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="1234ab"
                  ngModel
                  name="postcode"
                  required>
      </div>
    </div>

    <div class="col-7" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Land</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Nederlfdo"
                  ngModel
                  name="land"
                  required>
      </div>
    </div>
  </div>
</form>
