<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Voornaam</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Voornaam"
                  ngModel
                  (keyup)="onCapitalize('voornaam')"
                  name="voornaam"
                  required>
      </div>
    </div>

    <div class="col-6" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Achternaam</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Achternaam"
                  ngModel
                  (keyup)="onCapitalize('achternaam')"
                  name="achternaam"
                  required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Telefoon</span>
        </div>
        <input    type="number"
                  class="form-control"
                  placeholder="06-"
                  ngModel
                  name="telefoon1"
                  required>
        <button class="groen btn" tabindex="-1" type="button" (click)="telErbij()">+</button>
        <button class="rood btn" tabindex="-1" type="button" (click)="telEraf()">-</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="aantalTel > 1">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Telefoon</span>
        </div>
        <input    type="number"
                  class="form-control"
                  placeholder="06-"
                  ngModel
                  name="telefoon2"
                  required>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="aantalTel > 2">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Telefoon</span>
        </div>
        <input    type="number"
                  class="form-control"
                  placeholder="06-"
                  ngModel
                  name="telefoon3"
                  required>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Email adres</span>
        </div>
        <input    type="email"
                  class="form-control"
                  placeholder="voorbeeld@voorbeeld.nl"
                  ngModel
                  name="email1"
                  required>
        <button class="groen btn" tabindex="-1" type="button" (click)="mailErbij()">+</button>
        <button class="rood btn" tabindex="-1" type="button" (click)="mailEraf()">-</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="aantalEmail > 1">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Email adres</span>
        </div>
        <input    type="email"
                  class="form-control"
                  placeholder="voorbeeld@voorbeeld.nl"
                  ngModel
                  name="email2"
                  required>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="aantalEmail > 2">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Email adres</span>
        </div>
        <input    type="email"
                  class="form-control"
                  placeholder="voorbeeld@voorbeeld.nl"
                  ngModel
                  name="email3"
                  required>
      </div>
    </div>
  </div>


  <div class="row">
  <div class="col-12" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Website</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Google.nl"
                  ngModel
                  name="website">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-7">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Bedrijf</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Bedrijf"
                  ngModel
                  name="bedrijf"
                  required>
      </div>
    </div>

    <div class="col-5" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Relatie</span>
        </div>
        <select id="inputRelation"
                class="form-control"
                [(ngModel)]="selectedRelatie"
                name="relatie">
          <option *ngFor="let relatie of relatieOpties">{{ relatie }}</option>
        </select>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Woonplaats</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Plaats"
                  ngModel
                  (keyup)="onCapitalize('woonplaats')"
                  name="woonplaats"
                  required>
      </div>
    </div>


  </div>


  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Straatnaam</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Straatnaam"
                  ngModel
                  (keyup)="onCapitalize('straatnaam')"
                  name="straatnaam"
                  required>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-7">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Postcode</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="1234AB"
                  ngModel
                  (keyup)="onCapitalizePostcode()"
                  name="postcode"
                  required>
      </div>
    </div>

    <div class="col-5" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Huisnummer</span>
        </div>
        <input    type="text"
                  class="form-control"
                  ngModel
                  name="huisnummer"
                  required>
      </div>
    </div>
  </div>


  <div class="row">


    <div class="col-12" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Land</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Land"
                  ngModel
                  (keyup)="onCapitalize('land')"
                  name="land"
                  required>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <button class="btn"
              type="submit"
              [disabled]="!f.valid">{{ buttonText }}</button>
    </div>
    <div class="col">
      <button class="btn"
              type="button"
              routerLink="/contacten"
              [disabled]="buttonText == 'Voeg toe'">Nieuw</button>
    </div>
    <div class="col">
      <button class="btn"
              type="button"
              (click)="onButton()">{{ buttonText2 }}</button>
    </div>
  </div>
</form>
