<input
  type="text"
  id="search"
  (input)="zoekFacturen($event)"
  placeholder="Zoek facturen..."
  #factuurInput>

<table id="facturentabel">
  <tr>
    <th>Factuur ID</th>
    <th>Factuur Beschrijving</th>
    <th>Factuur Begindatum</th>
    <th>Factuur Einddatum</th>
    <th>Factuur Bruto</th>
    <th>Factuur Netto</th>
  </tr>
  <tr *ngFor="let factuur of shownFacturen">
    <td>{{factuur.id}}</td>
    <td>{{factuur.beschrijving}}</td>
    <td>{{factuur.beginDatum}}</td>
    <td>{{factuur.eindDatum}}</td>
    <td>{{factuur.bruto}}</td>
    <td>{{factuur.netto}}</td>
  </tr>
</table>
