<div class="container">
  <div class="row">
    <div class="col-4">
      <input
        type="text"
        id="search"
        (input)="zoekFacturen($event)"
        placeholder="Zoek facturen..."
        #factuurInput>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-facturen-list [facturen]="shownFacturen"></app-facturen-list>
    </div>
    <div class="col-6">
      <app-facturen-filter
        [(kwartaalSwitchStatus)]="kwartaalSwitch"
        [(kwartaal)]="geselecteerdKwartaal"
        [(inputJaar)]="inputJaar"
        (change)="filter()"></app-facturen-filter>
    </div>
  </div>
</div>
