<div id="overflowRemove">
<div class="row">
  <div class="col-4">
    <input
      type="text"
      id="search"
      (keyup)="zoekContacten($event)"
      placeholder="Zoek op contacten..."
      #contactInput>
  </div>
  <div class="col-1 debiteurentoggle">
    <app-toggle-switch [(switchStatus)]="switchStatus" (input)="filterDebiteuren()"></app-toggle-switch>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-9">
      <table id="contactlijst">
        <tr>
          <th>Klant ID</th>
          <th>Klant naam</th>
          <th>Heeft Betaald?</th>
          <th>Factuurdatum</th>
        </tr>
        <tr *ngFor="let klant of shownContacten">
          <td>{{klant.id}}</td>
          <td>{{klant.bedrijf}}</td>
          <td>{{klant.heeftBetaald}}</td>
          <td>{{klant.factuurDatum}}</td>
        </tr>
      </table>
    </div>
    <div class="col-2 buttoncolumn">
      <div class="row">
        <button class="btn" routerLinkActive="active-class" routerLink="/facturen-overzicht">Facturen</button>
      </div>
      <div class="row">
        <button class="btn" routerLinkActive="active-class" routerLink="/kwartaal">Kwartaal weergaven</button>
      </div>
      <div class="row">
        <button class="btn" routerLinkActive="active-class" routerLink="/uitgave">Uitgavenoverzicht</button>
      </div>
    </div>
  </div>
</div>
</div>
