<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <hr>

  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Bedrijf</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Hema"
                  ngModel
                  name="bedrijf"
                  required>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Datum</span>
        </div>
        <input    type="date"
                  class="form-control"
                  placeholder="DD-MM-JJJJ"
                  ngModel
                  name="datum"
                  required>
      </div>
    </div>

    <div class="col-6" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Kostenpost</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Materiaal"
                  ngModel
                  name="kostenpost"
                  required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Omschrijving</span>
        </div>
        <input    type="text"
                  class="form-control"
                  placeholder="Rode en blauwe pennen"
                  ngModel
                  name="omschrijving"
                  required>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Bruto €</span>
        </div>
        <input type="number"
                  class="form-control"
                  placeholder="€--,--"
                  ngModel
                  name="brutokost"
                  required>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">BTW %</span>
        </div>
        <input   name="BTW %"
                  type="number"
                  class="form-control"
                  ngModel
                  [maxLength]="2"
                  list="btwProcent"
                  name="btwprocent"
                  required>
        <datalist id="btwProcent">
          <option name="btwProcentHoog">{{ btwPercentages.btwPercentageHoog }}</option>
          <option name="btwProcentLaag">{{ btwPercentages.btwPercentageLaag }}</option>
        </datalist>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">BTW €</span>
        </div>
        <input    type="number"
                  class="form-control"
                  placeholder="€--,--"
                  ngModel
                  name="btwkost"
                  required>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Netto €</span>
        </div>
      <input      type="number"
                  class="form-control"
                  placeholder="€--,--"
                  ngModel
                  name="nettokost"
                  required>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <button class="btn" type="submit" [disabled]="!f.valid">{{ buttonTextOne }}</button>
    </div>
      <div class="col-4">
        <button class="btn" [disabled]="buttonTextOne === 'Voeg toe'" type="button" routerLink="/onkosten">Nieuw</button>
      </div>
      <div class="col-4">
        <button class="btn" type="button" (click)="clearAndDelete()">{{ buttonTextTwo }}</button>
      </div>
  </div>

</form>

