<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <hr>

  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Bedrijf</span>
        </div>
        <textarea class="form-control"
                  placeholder="Hema"
                  ngModel
                  name="bedrijf"
                  required></textarea>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Datum</span>
        </div>
        <textarea class="form-control"
                  placeholder="DD-MM-JJJJ"
                  ngModel
                  name="datum"
                  required></textarea>
      </div>
    </div>

    <div class="col-6" select-class>
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Kostenpost</span>
        </div>
        <textarea class="form-control"
                  placeholder="Materiaal"
                  ngModel
                  name="kostenpost"
                  required></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Omschrijving</span>
        </div>
        <textarea class="form-control"
                  placeholder="Rode en blauwe pennen"
                  ngModel
                  name="omschrijving"
                  required></textarea>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Bruto €</span>
        </div>
        <textarea class="form-control"
                  placeholder="€--,--"
                  ngModel
                  name="brutokost"
                  required></textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">BTW %</span>
        </div>
        <textarea class="form-control"
                  placeholder="0.00%"
                  ngModel
                  name="btwprocent"
                  required></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">BTW €</span>
        </div>
        <textarea class="form-control"
                  placeholder="€--,--"
                  ngModel
                  name="btwkost"
                  required></textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group item-margin">
        <div class="input-group-prepend">
          <span class="input-group-text">Netto €</span>
        </div>
        <textarea class="form-control"
                  placeholder="€--,--"
                  ngModel
                  name="nettokost"
                  required></textarea>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary" type="submit">{{ buttonTextOne }}</button>
    </div>
      <div class="col-4">
        <button class="btn btn-secondary" [disabled]="buttonTextOne === 'Voeg toe'" routerLink="/onkosten">Nieuw</button>
      </div>
      <div class="col-4">
        <button class="btn btn-danger" [disabled]="buttonTextOne === 'Voeg toe'">Verwijder</button>
      </div>
  </div>

</form>

