<div class="container text-center w-50">
  <!--<div class="row">-->
    <!--<div class="col-md-8">-->
      <br>
      <app-contact-zoeken></app-contact-zoeken>
      <hr>
      <div> <!--*ngIf="gekozenContact; else infoText">-->
        <app-contact-item></app-contact-item>
        <app-contact-wijzigen></app-contact-wijzigen>
      </div>
      <ng-template #infoText>
        <p>Zoek een bedrijf.</p>
      </ng-template>
      <hr>
      <app-contact-toevoegen></app-contact-toevoegen>
    </div>
  <!--</div>-->
<!--</div>-->
