button {
  width: 200px;
  background-color: orange;
  border-color: #ad6900;
  color: white;
  text-align: center;
  font-size: 12px;
}
input {
   width: 100px;
}

span {
  width: 100px;
}

.row {
  justify-content: center;
  margin: 5px;
}


img {
  margin-top: 30px;
  max-height: 400px;
  max-width: 400px;
}
